
<div class="background-image banner">
    <p>
        <h1 class="title-1"> <%= link_to 'Su\'s Blog', posts_path %> </h1>
    </p>
    <p>
        <h2 class="title-2">This is where my opinions live!</h2>
    </p>
</div>
<div class="reviews">
    <p>
        <h3 class="reviews-title">What others are saying.</h3>
    </p>
    <div class="reviews-text">
    <p>
        "Su's blog is so informative. I love coming here for the 
        latest updates in wildlife conservation."
    </p>
    <p>
        "Her trenchant wit and keen insights have me hooked! 
        This is my go-to blog for all things wildlife!"
    </p>
    <p>
        "Lol, this blog is awesome!"
    </p>
    <p>
        Su's amazing and quirky personal style really shines through on her blog 
        and in all of her guides.  I absolutely recommend giving her site a read 
        if you’re looking to improve your life… but be careful!  You’ll get lost there for hours :)
    </p>
    </div>
</div>
<!-- custom script that relies on jQuery-->
<script src="/assets/main.js"></script>
  
  

